/* KARTU LIST */

.checkbox-container2{
    /* margin: 10% auto; */
    width: 80%;
    display: flex;
    align-content: center;
    margin: 50px auto;
    justify-content: center;
    flex-direction: column;
}

.card-list {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

h4 {
    margin: 0 0 5px;
}

p {
    margin: 0;
    color: #555;
}

input[type="checkbox"] {
    transform: scale(1.5); /* Memperbesar checkbox */
}

